@import './utils/fonts';

@import './utils/variables';

/* Base */
@import './base';

@import './utils/texts';

@import './utils/utils';

@import './layouts/container';

@import './layouts/section';

/* Button */
@import './components/buttons';

/* Link */
@import './components/links';

/* Input */
@import './components/input';

/* Header */
@import './layouts/header';

/* Hero section */
@import './layouts/hero-section';

/* Advantages section */
@import './layouts/advantages-section';

/* Traditions section */
@import './layouts/traditions-section';

/* Chefs section */
@import './layouts/chefs-section';
@import './components/chef-card';

/* Formats section */
@import './layouts/formats-section';
@import './components/format-card';

/* Carousel */
@import './components/carousel-button';
@import './components/pagination';

/* Contacts section */
@import './layouts/contact-section';

/* Footer */
@import './layouts/footer';

/* Modal */
@import './layouts/modal';

/* Form */
@import './layouts/form-terms';

/* Checkbox realization example */
/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-secondary-dark);
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
  content: '';
} */