.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s;

    &.is-hidden {
        /* display: none; */
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 880px;
    max-height: 880px;
    padding: 48px;
    background-color: var(--color-primary-light);
    border-radius: 32px;

    @media screen and (min-width: $bp-tablet) {
        padding: 128px;
    }

    &__btn-close {
        position: absolute;
        top: 42px;
        right: 42px;
    }

    &__form-field {
        margin-bottom: 32px;
    }

    &__button {
        margin: 0 auto 24px;
    }
}